html/dtd/dasep.dtd

<!ELEMENT DASEP (ENTRY_POINTS)>
<!ELEMENT ENTRY_POINTS (SEGMENT*)>
<!ATTLIST ENTRY_POINTS href CDATA #REQUIRED>
<!ATTLIST ENTRY_POINTS version CDATA #REQUIRED>
<!ATTLIST ENTRY_POINTS id CDATA #IMPLIED>
<!ELEMENT SEGMENT (#PCDATA)>
<!ATTLIST SEGMENT id CDATA #REQUIRED>
<!ATTLIST SEGMENT start CDATA #REQUIRED>
<!ATTLIST SEGMENT stop CDATA #REQUIRED>
