html/dtd/dasres.dtd

<!ELEMENT DASRES (RESOLVE)>
<!ELEMENT RESOLVE (SEGMENT)>
<!ATTLIST RESOLVE version CDATA #REQUIRED>
<!ELEMENT SEGMENT (RELCOORD+)>
<!ATTLIST SEGMENT id CDATA #REQUIRED>
<!ATTLIST SEGMENT start CDATA #REQUIRED>
<!ATTLIST SEGMENT stop CDATA #REQUIRED>
<!ELEMENT RELCOORD EMPTY>
<!ATTLIST RELCOORD id CDATA #REQUIRED>
<!ATTLIST RELCOORD start CDATA #REQUIRED>
<!ATTLIST RELCOORD stop CDATA #REQUIRED>
