html/dtd/dastypes.dtd

<!ELEMENT DASTYPES (GFF)>
<!ELEMENT GFF (SEGMENT)>
<!ATTLIST GFF version CDATA #REQUIRED>
<!ATTLIST GFF href CDATA #REQUIRED>
<!ELEMENT SEGMENT (TYPE+)>
<!ATTLIST SEGMENT id CDATA #REQUIRED>
<!ATTLIST SEGMENT start CDATA #REQUIRED>
<!ATTLIST SEGMENT stop CDATA #REQUIRED>
<!ATTLIST SEGMENT version CDATA #REQUIRED>
<!ATTLIST SEGMENT label CDATA #IMPLIED>
<!ELEMENT TYPE (#PCDATA)>
<!ATTLIST TYPE id CDATA #IMPLIED>
<!ATTLIST TYPE category CDATA #IMPLIED>
